<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <li>
    
  </li>
  <ul>
    <li>
      <form action="main" method="post">
        <p>login:</p>
        <input type="text" name="nm">
        <input type="submit" value="submit">
      </form>
    </li>
    <li>
      <form action="logout" method="post">
        <input type="submit" value="logout">
      </form>
    </li>
  </ul>
</head>

<body>
  <div>
    {% block body %} {% endblock body %}
  </div>
</body>

</html>